
.detail-container {
    height: calc(100vh);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-detail {
    width: 20rem;
    margin: 4rem;
}
  .card-img-mod {
    width: 20rem;
  }
.add-to {
    width: 100%;
    padding: 1rem;
}
.card-detail-title {
    text-align: center;
}